##### .gitignore default file. #####

### ignore temp/backup stuff ###
*~
.*.swp
*.bak

### software development: ignore generated stuff ###
#*.[oa]
#*.class
#*.pyc
#build/*

### Android development ###
#local.properties
#.classpath
#.project
#.settings/*
#gen/*
#bin/*
#target/*

### latex stuff ###
#*.dep
#*.dep.unused
#*.swp
#*.pdf
#*.aux
#*.log
#*.toc
#*.out
#*.dvi
#*.gz
#gitHeadInfo.gin

